*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
.logo img{
	max-width: 10%;
	height: 90px;
	margin-left: 20px;
	position: relative;
}
header{
	background-color: rgb(9, 37, 33);
	padding: auto;
	margin-left: auto;
}
body{
	padding:0px;
}

.main-nav{
	float: right;
	list-style: none;
	margin-top: 30px;
	font-size: 20px;

}
.main-nav li{
    display: inline-block;
}
.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;

}
.main-nav li.active a{
    border: 2px solid white;
}
.main-nav li a:hover{
    border: 2px solid white;
}
.row{
    max-width: 1200px;
    margin: 0px;
}
.row{
    margin: 0 -15px;
}
.container{
	margin:	auto;
	padding: auto;
	overflow:auto;	
}
.gallery{
	margin: 0px;
	float: left;
	padding: 1px;
	width: 650px;
	margin-top:-10px;	
}
.gallery img{
	width:100%;
	height: 380px;
	padding-top: 0px;
}
footer{
	background-color:rgb(24, 24, 46);
	margin: auto;
	padding: auto;	
}
.quick-links{
	display: flex;
	margin: auto;
	float: right;
	
}
.quick-links ul{
	display: flex;
	margin-top: 15px;
}
.quick-items{
	list-style: none;
}
.quick-items a:hover{
	color: rgb(230, 187, 187);
}
.quick-items a{
	text-decoration: none;
	padding: 15px;
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
}
.outer-footer{
	padding: 22px;
	text-align: center;
	color: white;
	font-size: 26px;
	margin-left: 350px;
}
.popup-form{
	display:flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-around;
	width: 20%; 
	height: 50%;
	background-color: #A03939;
	padding-top: 30px;
	padding-left: 80px;
	padding-bottom: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.input-field{
padding-top:  3rem;
border: none;
outline: none;
border-radius: .1rem;
}

.input-field:hover, .input-field:focus {
	background-color: rgb(210, 210, 210);
} 

.submit-btn{

width: 8rem;
font-size: 1rem;
font-weight: bold;
padding: .5rem 1rem;
background-color: #0000FF;
color: #fff; 
}

.submit-button:hover, .submit-btn:focus{
	background-color: coral;
}

.close-btn{
	position: absolute;
	top: 0;
	right: 0;
	padding: .4rem .6rem;
	cursor: pointer;
	background-color: white;
}

.close-btn hover {
	background-color: coral;
	color: #fff;
}

.hide{
	display: none;
}
.slideshow-container {
	max-width: 1350px;
	position: relative;
	margin: auto;
  }
  
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 10px;
	color: rgb(252, 217, 217);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  .dot {
	cursor:pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: rgb(20, 240, 31);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	margin-bottom: 30px;
  }  
  
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
